label{font-size: 13px;font-weight: 200;}
p {
    margin: 0 0 5px;
}
/*
*/
.navbar{background: #293846;min-height: 45px;}
.navbar .nav>li{float:left;}
.header .container-fluid {margin-top: 0px;}
.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
    background-color: #333 !important;
}
.navbar-fixed-top{
    left:220px;
}

.alert{margin-bottom: 0px;}

.bootstrap-table{margin-top: 5px;}

/*修改菜单按钮样式*/
.menu-title > .btn-group-sm>.btn, .btn-sm {
    margin: 8px 6px 0 0;
    padding: 4px 8px;
    font-size: 14px;
}
.menu-title .btn-success{
    background-color: #99cc33;
    border-color: #99cc33;
    color: #666;
}

/***
Dropdowns
***/
.navbar{
    border: none;
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    margin:0px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border: 1px solid #ddd;
}

.dropdown:hover .caret,
.open.dropdown .caret {
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-menu.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

.dropdown-menu li > a {
    border-radius: 3px;
    padding: 6px 0 6px 13px;
    color: #333;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #eee;
    color: #333;
    filter:none;
}

.dropdown.open .dropdown-toggle {
    color: #999;
    background: #999;
    background: rgba(0, 0, 0, 0.1);
}

/** 头部信息框 **/
.top-msg.alert{border-radius: 0px;border-left: 0px;border-right: 0px;}

/** 改写表头颜色 **/
.bootstrap-table .table thead > tr{
    background: #f2f2f2;
    color: #333;
}
.bootstrap-table .table thead > tr > th >div{
    font-size: 12px;
    font-weight: 300;
}

.bootstrap-table .table tbody > tr > td{
    font-size: 10px;
    font-weight: 200;
}
.bootstrap-table .table:not(.table-condensed),
.bootstrap-table .table:not(.table-condensed) > tbody > tr > th,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > th,
.bootstrap-table .table:not(.table-condensed) > thead > tr > td,
.bootstrap-table .table:not(.table-condensed) > tbody > tr > td,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 6px !important;
}

.bootstrap-table .table{
    border-bottom: 0px;
}

.bootstrap-table .text-over{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 200px;
}

.fixed-table-container thead th .th-inner,
.fixed-table-container tbody td .th-inner {
    padding: 6px;
    line-height: 20px;
}

.form-control{
    font-size: 13px;
    line-height: 1.3;
    height: 31px;
}

.btn{
    font-size: 13px;
    font-weight: 200;
    line-height: 1.3;
}

.alert{
    padding: 10px;
}
.close {
    font-size: 16px;
    font-weight: 600;
}

/** 屏幕小920时 **/
@media screen and (max-width: 920px) {
    #toolbar > div > button > span {
        display: none;
    }

    .table-tools {
        display: none;
    }
}

/*调整高级查询右边间隔*/
.modal-body{
    padding-right: 30px;
}

/*日期选择框*/
.daterangepicker{
    border: 1px solid #ccc;
}

/*下拉框每项分隔符*/
.select2-results__option[aria-selected] {
    border-bottom: 1px solid #f4f4f4;
}

/** 调整弹出窗样式 **/
.layer-ext-moon .layui-layer-title {
    height: 42px;
    line-height: 42px;
}